/* App.css */
:root {
  --background-color-light: #f8f9fa;
  --text-color-light: #000;
  --background-color-dark: #343a40;
  --text-color-dark: #fff;
}

.light-theme {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.dark-theme {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}
