/* Integration with Bootstrap for additional styles and responsiveness */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";

:root {
  --font-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primary: #646cff;
  --color-primary-hover: #535bf2;
  --color-secondary: #747bff;
  --background-dark: #242424;
  --background-light: #ffffff;
  --text-dark: rgba(255, 255, 255, 0.87);
  --text-light: #213547;
}

body {
  font-family: var(--font-primary);
  background-color: var(--background-dark);
  color: var(--text-dark);
  margin: 0;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-light);
    color: var(--text-light);
  }
}

a, .btn-primary {
  color: var(--color-primary);
}

a:hover, .btn-primary:hover {
  color: var(--color-primary-hover);
}

h1, h2, h3 {
  margin-top: 0;
}

/* Custom Button Styles */
.btn-custom {
  background-color: var(--color-primary);
  color: var(--background-light);
  border-radius: 8px;
}

.btn-custom:hover {
  background-color: var(--color-primary-hover);
  color: var(--text-light);
}

/* Responsive Table Enhancements */
.table-responsive {
  border-color: var(--color-primary);
}

.table thead th {
  background-color: var(--color-secondary);
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .table, .table th, .table td {
    font-size: 0.8rem;
  }
}
.btn-white-text {
  color: #fff !important; /* Ensures text color is white */
}


.footer {
  padding: 20px 0;
  background-color: #f8f9fa; /* A light gray background that fits Bootstrap's default styling */
  border-top: 1px solid #e9ecef; /* A subtle line to separate the footer from the content */
  color: #6c757d; /* A soft, dark gray color for the text, providing contrast and readability */
}

.footer p {
  margin-bottom: 0; /* Remove default paragraph margin to keep things tight */
  font-size: 1rem; /* Standard font size for legibility */
}
